/* Write your CSS here! */

/* elements */
body {
    background-color: white;
    font-size: 25 pt;
    color: #333;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;

}
header {
    background-color: green;
    color: white;
    padding: 25px;
    margin: 0px;

}

main {
    width: 100%;
    padding:30px 100px;
    box-sizing:border-box;
}

footer {
    color: white;
    background-color: green;
}

/* ids */



/* classes */