/* Write your CSS here! */

/* elements */
body {
    display: block;
    background-color: tan;
    font-size: 25 pt;
    color: #333;
    width: 100vw;
    height: 100vh;
    margin: 8px;
    padding: 0px;

}
header {
    
    color: white;
    padding: 25px;
    margin: 0px;
    height: auto;

}

main {
    width: 100%;
    padding:30px 100px;
    box-sizing:border-box;
}
   


p {
    text-align: center;
}

img {
    height: 250px;
    width: 450px;
    margin-left: auto;  
    margin-right: auto; 
    
}

footer {
    color: white;
    background-color: red;
}

/* ids */
#mainheading{
    background-color: red;
    color: white;
    padding: 25px;
    margin: 0px;
    height: auto;
    text-align: center;
    font-style: italic;
  }
#funparagraph{
    background-color: green;
  }



/* classes */
.center{
    text-align: center

}