/* Write your CSS here! */

/* elements */
body {
    display: block;
    background-color: tan;
    font-size: 25 pt;
    color: #333;
    width: 100vw;
    height: 100vh;
    margin: 8px;
    padding: 0px;

}
header {
    
    color: white;
    padding: 25px;
    margin: 0px;
    height: auto;

}

main {
    width: 100%;
    padding:30px 100px;
    box-sizing:border-box;
}
h2 {
    text-align: center;
}

p {
    text-align: justify;
}

img {
    width: 250 px;
    margin: 12px;
}

footer {
    color: white;
    background-color: red;
}

/* ids */
#mainheading{
    background-color: red;
    color: white;
    padding: 25px;
    margin: 0px;
    height: auto;
    text-align: center;
    font-style: italic;
  }
#funparagraph{
    background-color: green;
  }



/* classes */
